# source_compile.config
container_commands:
  01createenv:
    command: "printenv > .env"
  02ssmParam:
    command: "echo \"GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=$(aws ssm get-parameter --name 'Google_Service_Account_Parameter' --region eu-central-1 --output text --query 'Parameter.Value')\" >> .env"
  #03migrate:
  #  command: "node ace migration:run --force"
  #  leader_only: true
  # eb setenv `cat .env | sed '/^#/ d' | sed '/^$/ d'`
