commands:
    00_download_zlib:
        command: |
            if test -f "/lib64/libz.so"; then
                echo "Libz exists."
            else
                wget https://github.com/madler/zlib/archive/v1.2.9.tar.gz
                tar xzvf v1.2.9.tar.gz
                cd zlib-1.2.9
                ./configure
                make
                make install
                ln -fs /usr/local/lib/libz.so.1.2.9 /lib64/libz.so
                ln -fs /usr/local/lib/libz.so.1.2.9 /lib64/libz.so.1
            fi
            
